body{
    background: #f4f4f4;
    color: #555;
    font-family: Aria,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin:0;
}
header{
    background-color: #673e7d;
    color:#fff;
    margin:auto;
    height: 100px;
    overflow:hidden;

}
h2{

    font-family: "Trebuchet MS", sans-serif;
    font-size: 4em;
    letter-spacing: -2px;
    text-transform: uppercase;
    text-align: center;
}
.container{
    display: flex;

}
div{
    padding: 30px;

}
